.div{
    width: 100%;
    padding: 3px;
}
.bt2{
   
    border:solid 1px  #3899DD;
    background: linear-gradient(45deg, rgb(5, 40, 62) 0%, rgb(23, 11, 156) 100%);
    border-radius: 15px;
    margin: 40px;
     padding-left:10px ;
     padding-right:10px ;
     font-weight: bold;
     color: rgb(255, 255, 255);
    padding-block: 10px;
   
}

.cancel{
    border:solid 1px  #3899DD;
    background: linear-gradient(45deg, rgb(30, 44, 52) 0%, rgb(18, 177, 209) 100%);
    border-radius: 15px;
    margin: 40px;
     padding-left:10px ;
     padding-right:10px ;
     font-weight: bold;
     color: rgb(255, 255, 255);
    padding-block: 10px;

}
.bt{
    border:solid 1px  #3899DD;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    border-radius: 15px;
    margin: 40px;
     padding-left:10px ;
     padding-right:10px ;
     font-weight: bold;
     color: rgb(255, 255, 255);
    padding-block: 10px;

}

.ccc{
    border:solid 1px  #3899DD;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    border-radius: 15px;
    margin: 40px;
     padding-left:10px ;
     padding-right:10px ;
     font-weight: bold;
     color: rgb(255, 255, 255);
    padding-block: 10px;
}

